<!-- SEARCH BAR -->
<mat-card *ngIf="types == null || types?.length == 0">
  Loading Star Wars Character Types...
</mat-card>

<mat-card *ngIf="types?.length">
  <mat-form-field>
    <input matInput type="text" placeholder="Search..." (input)="onSearchChange($event.target.value)">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Character Type</mat-label>
    <mat-select (selectionChange)="onSelectTypeChange($event.value)">
      <mat-option [value]="anyType">{{anyType}}</mat-option>
      <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>

<br />

<mat-card *ngFor="let character of searchedCharacters">

  <mat-card-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [value]="character.name" (input)="character.name = $event.target.value">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="text" [value]="character.age" (input)="character.age = $event.target.value">
    </mat-form-field>
    <mat-list>
      <mat-label>Episodes</mat-label>
      <mat-list-item *ngFor="let episode of character.episodes"> {{episode}} </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-content>
    <mat-list>
      <mat-label>Friends</mat-label>
      <mat-list-item *ngFor="let friend of character.friends"> {{friend}} </mat-list-item>
    </mat-list>

    <button mat-raised-button (click)="saveCharacterChange(character)">Save Changes</button>
  </mat-card-content>

  <br />
</mat-card>



<!--
<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="human">
  <p>Human Id: <strong>{{human?.id}}</strong></p>
  <p>Human Name: <strong>{{human?.name}}</strong></p>
  <p><strong>Appears In</strong></p>
  <div *ngFor="let film of human?.appearsIn">
    <p> - {{film}}</p>
  </div>
</div>
-->