<!-- SEARCH BAR -->
<div *ngIf="types?.length == false">
  Loading Star Wars Character Types...
</div>

<div *ngIf="types?.length">
<span>
    <input type="text" placeholder="Search..." (input)="onSearchChange($event.target.value)">

  <select (change)="onSelectTypeChange($event.target.value)">
      <option>{{anyType}}</option>
    <option *ngFor="let type of types">{{type}}</option>
  </select>

</span>
</div>

<!--
<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="human">
  <p>Human Id: <strong>{{human?.id}}</strong></p>
  <p>Human Name: <strong>{{human?.name}}</strong></p>
  <p><strong>Appears In</strong></p>
  <div *ngFor="let film of human?.appearsIn">
    <p> - {{film}}</p>
  </div>
</div>
-->